
    <h1>User　info</h1>
     <%= image_tag user.get_profile_image(50, 50) %>
       <table class="table table-striped">
         <tr>
          <td>name</td>
          <td><%= user.name %></td>
        </tr>

        <tr>
         <td>introduction</td>
         <td><%= user.introduction %></td>
         </tr>
       </table>

    <div class="row">
      <%= link_to edit_user_path(user.id), class: "btn btn-outline-secondary btn-block" do %>
       <span class="fas fa-user-cog"></span>
      <% end %>
    </div>

  <h1>New Book</h1>
   <% if book.errors.any? %>
   <%= book.errors.count %>件のエラーが発生しました
    <ul>
     <% book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
     <% end %>
   </ul>
  <% end %>


  <%= form_with model: book do |f| %>
    <h2>Title</h2>
     <%= f.text_field :title %>

    <h2>Opinion</h2>
     <%= f.text_area :body %>
      <br>
     <%= f.submit 'Create Book', class: "btn btn-secondary" %>
  <% end %>