<h2>User info</h2>

<%= form_with model: @user, url: user_path(@user.id), method: :patch do |f| %>

<p>Name</p>
<%= f.text_field :name %>

<p>Image</p>
<%= f.file_field :user_image, accept: "image/*" %>

<p>Introdaction</p>
<%= f.text_area :body %>
<br>
<%= f.submit 'Update User', class: "btn btn-secondary" %>

<% end %>
