<h1>User info</h1>

<%= form_with model: @user, url: user_path(@user.id), method: :put do |f| %>

<h2>Name</h2>
<%= f.text_filed :name %>

<h2>Image</h2>
<%= f.file_filed :user_image, accept: "image/*" %>

<h2>Introdaction</h2>
<%= f.text_area :boby %>

<%= f.submit 'Update User' %>

<% end %>
