<h2>Editing Book</h2>
<% if @book.errors.any? %>
  <%= @book.errors.count %>件のエラーが発生しました
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<%= form_with model: @book, url: book_path(@book.id), method: :patch do |f| %>

<p>Title</p>
<%= f.text_field :title %>



<p>Opinion</p>
<%= f.text_area :body %>
<br>
<%= f.submit 'Update User', class: "btn btn-secondary" %>

<% end %>
